<!DOCTYPE html>
<html>
<head>
    <title>Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Your custom styles -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="navbar">
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
        <div class="navbar-links-overlay" id="navbarLinks">
            <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
            <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a>
            <a href="/gallery" class="<%= activePage === 'gallery' ? 'active' : '' %>">Shop</a>
            <% if (user) { %>
                <% if (user.role === 'admin') { %>
                    <a href="/upload" class="<%= activePage === 'upload' ? 'active' : '' %>">Upload</a>
                <% } %>
                <span class="navbar-username">Welcome, <%= user.username %>!</span>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login" class="<%= activePage === 'login' ? 'active' : '' %>">Login</a>
            <% } %>
        </div>
        <a href="/" class="navbar-logo"><img src="/images/logo.png" alt="Logo"></a>
        <div class="icon-cart">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
            </svg>
            <span>0</span>
        </div>
        
    </div>
    
    <script>
        function toggleMenu() {
            const navbarLinks = document.getElementById('navbarLinks');
            navbarLinks.classList.toggle('show');
        }
    </script>

</body>
</html>
